In [1]:
x=12345
rev=0
while(x>0):
    d=x%10
    rev=rev*10+d
    x=x//10
print(rev)

54321

In [2]:
#list
data=[12,5,"ram",True,[1,2,4],(12,5,6)]
print(data[-1])

(12, 5, 6)

In [3]:
print(data[-1][-1])

6

In [4]:
#update
data[0]="hello"
print(data)

['hello', 5, 'ram', True, [1, 2, 4], (12, 5, 6)]

In [5]:
#dictionary
set1={22,34,3,5,6,0,1}
print(set1)

{0, 1, 34, 3, 5, 6, 22}

In [7]:
#tuple
t1=(23,24,35,46,6,5)
print(t1[0])
print(t1)

23
(23, 24, 35, 46, 6, 5)

In [8]:
#update
t1[0]=90
print(t1) --> #it give error bcz tuple is dont change

TypeError: 'tuple' object does not support item assignment

In [9]:
t1=(23,24,3,5,[21,4,3],6)
t1[-2][0]=89
print(t1)

(23, 24, 3, 5, [89, 4, 3], 6)

In [10]:
t1=(23,24,3,5,[21,4,3],6)
t1[-2]=89
print(t1) --> #it give error

SyntaxError: invalid syntax (451031340.py, line 3)

In [12]:
d=[]
print(type(d))

t=()
print(type(t))

s={}
print(type(s))

s2=set()
print(type(s2))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [13]:
'''
fuction for type casting
int()
float()
str()
list()
tuple()
set()
dict()

'''
a="10"
print(a+90) #error str and int doesnt add

TypeError: can only concatenate str (not "int") to str

In [14]:
a="10"
print(a+"90")

1090

In [1]:
data="welcome to regex"
#new_list=list(data)
#print(new_list)
new_list=list(data.split(" "))
print(new_list)

['welcome', 'to', 'regex']

In [4]:
input_list= list(map(int,input().split(" ")))
print("your input-->",input_list)

 12 3 4

ValueError: invalid literal for int() with base 10: ''

In [3]:
data=input().split(" ")
print(data)

 12 3 3

['12', '3', '3', '']

In [5]:
#set
s1={12,3,1,3,4} #-->dict
print(s1)

{1, 3, 12, 4}

In [6]:
s1.add(90)
print(s1)
s1.discard(190) #--> it doesnt  give error 
print(s1)
s1.removed(190) #-->it give error
print(s1)

{1, 3, 4, 12, 90}
{1, 3, 4, 12, 90}